:root {
  --color-primary: #333;
  --color-secondary: #d3c500;
  --color-tertiary: #000000;
  --color-quaternary: #eeeeee;
  --color-quinary: #29e100;
}
@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/russo-one@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/russo-one@latest/latin-400-normal.woff)
      format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
}
html {
  scroll-behavior: smooth; /* habilita el scroll suave en toda la página */
}
body::-webkit-scrollbar {
  width: 8px; /* grosor de la barra de scroll */
}

body::-webkit-scrollbar-thumb {
  background-color: var(
    --color-secondary
  ); /* color del "pulgar" de la barra de scroll */
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: var(
    --color-primary
  ); /* color del fondo de la barra de scroll */
}
body {
  background-image: url(../src/img/357.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary); /* color de fondo del navbar */
  display: flex;
  justify-content: space-between; /* distribuye los elementos en ambos extremos del navbar */
  align-items: center;
  padding: 10px 20px; /* espaciado interior del navbar */
  z-index: 1000;
  box-shadow: #000000 0 0 10px;
}

.logo img {
  max-height: 40px; /* ajusta el tamaño del logo según sea necesario */
}
.menu {
  margin-top: 100px;
  text-align: center;
}
.list-item {
  display: inline-block;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  font-family: "Russo One", Times, serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  position: relative;
}
.link::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}
.link:hover::after {
  width: 100%;
  right: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px; /* ajusta el espaciado entre elementos de la lista */
}

.navbar li:last-child {
  margin-right: 0; /* elimina el margen derecho del último elemento de la lista */
}

.navbar li a {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 19px;
  line-height: 24.7px;
  text-decoration: none solid rgb(255, 255, 255);
  text-align: center;
  word-spacing: 0px;
  height: 455.234px;
  width: 100%;
  border-top: 2px solid var(--color-secondary);
  padding: 35px 0 35px 0;
  background-color: var(--color-tertiary);
}

.footer-logo-block {
  display: block;
  height: 285.047px;
  width: 100%;
  min-height: auto;
  min-width: auto;
}

.footer p {
  display: block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 11px;
  line-height: 14.3px;
  text-decoration: none;
  text-align: center;
  word-spacing: 0px;
  height: 44px;
  width: 1268px;
}
/* PARA ARRIBA */

.go-top-container {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 66px;
  height: 66px;
  z-index: -1;
}
.go-top-button {
  width: 0;
  height: 0;
  background: var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.go-top-button i {
  position: absolute;
  font-size: 17px;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: var(--color-secondary);
  transition: 0.2s;
}
.show {
  z-index: 10;
}
.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 66px;
  height: 66px;
  z-index: 11;
}
.show i {
  transform: translate(-50%, -50%) scale(1);
}
@keyframes popup {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 80px;
    height: 80px;
  }
  100% {
    width: 66px;
    height: 66px;
  }
}
.icono-svg {
  background: url("../src/chevron-up-solid.svg") center/contain no-repeat;
  display: inline-block;
  width: 24px;
  height: 24px;
}
