.body-title {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url(../src/img/ZeTwoColonies.jpeg);
  background-size: cover;
  background-position: center;
  filter: opacity(0.8);
}

.body-title h1 {
  position: absolute;
  top: 50%;
  left: 45%;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 500;
  text-shadow: 0 0 4px var(--color-tertiary);
  filter: brightness(2);
}

.body-container {
  border-top: 2px solid var(--color-secondary);
  background-color: var(--color-tertiary);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 1300px;
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  width: max-content;
  transition: 1.5s;
}

.list img {
  width: 1300px;
  max-width: 100vw;
  height: 100%;
  object-fit: cover;
}

.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 0%;
  border: none;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
  font-family: monospace;
  font-weight: 900;
  cursor: pointer;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid var(--color-secondary);
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}

.dots li.active {
  width: 30px;
  background-color: var(--color-secondary);
}

@media screen and (max-width: 768px) {
  .slider {
    width: 400px;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 10px;
}

.row img:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.7s ease;
  filter: brightness(1.2);
}

iframe {
  max-width: 100%;
  vertical-align: middle;
}

.gallery {
  width: 100%;
  display: block;
  min-height: 100vh;
  padding: 100px;
  background-color: var(--color-tertiary);
}

.gallery .gallery-filter {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.gallery .gallery-filter .filter-item {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  line-height: 1.2;
  transition: all 0.5s ease;
}

.gallery .gallery-filter .filter-item.active {
  color: var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

.gallery .gallery-item {
  width: calc(100% / 2);
  padding: 15px;
}

.gallery .gallery-item.show {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery .gallery-item.hide {
  display: none;
}
