/* TPFinal-PEyLW\css\stylesIndex.css */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%; /* 16:9 ratio */
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-overlay video {
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(rgb(0, 0, 0) 95%, transparent);
}
.contenido-superpuesto {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0, -50%);
  color: white;
  width: 640px;
  max-width: 90%;
  height: 360px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contenido-superpuesto h2 {
  font-weight: bold;
  text-align: center;
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 10px;
}
.contenido-superpuesto p {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}
.contenido-superpuesto button {
  background-color: var(--color-secondary);
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}
.contenido-superpuesto button:hover {
  background-color: #000000;
  color: var(--color-secondary);
}
.section-container {
  width: 100%;
  height: 52vw;
  max-height: 860px;
  background: url("../src/img/WinterSeasonIMG_2.png") 50% 50% no-repeat;
  background-size: cover;
  mask-image: linear-gradient(transparent, rgb(0, 0, 0) 10%);
}
.section-content {
  position: relative;
  padding-top: 120px;
  height: 100%;
}
.section-media {
  position: absolute;
  z-index: 1;
  left: 12.5%;
  bottom: 0;
  width: 75%;
}
.section-media img {
  max-width: 75%;
  height: auto;
}
.section-text {
  position: absolute;
  z-index: 2;
  right: 12.5%;
  bottom: 0;
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.section-text a {
  text-decoration: none;
  color: var(--color-primary);
}
.section-text button {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.section-text button:hover {
  background-color: #000000;
  color: var(--color-secondary);
}
