:root {
  --color-primary: #333;
  --color-secondary: #d3c500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
html {
  scroll-behavior: smooth; /* habilita el scroll suave en toda la página */
}
body::-webkit-scrollbar {
  width: 8px; /* grosor de la barra de scroll */
}

body::-webkit-scrollbar-thumb {
  background-color: var(
    --color-secondary
  ); /* color del "pulgar" de la barra de scroll */
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background-color: var(
    --color-primary
  ); /* color del fondo de la barra de scroll */
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary); /* color de fondo del navbar */
  display: flex;
  justify-content: space-between; /* distribuye los elementos en ambos extremos del navbar */
  align-items: center;
  padding: 10px 20px; /* espaciado interior del navbar */
  z-index: 1000;
}

.logo img {
  max-height: 40px; /* ajusta el tamaño del logo según sea necesario */
}
.menu {
  margin-top: 100px;
  text-align: center;
}
.list-item {
  display: inline-block;
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1rem;
  position: relative;
}
.link::after {
  content: "";
  width: 0;
  height: 4px;
  background-color: #d3c500;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}
.link:hover::after {
  width: 100%;
  right: 0;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px; /* ajusta el espaciado entre elementos de la lista */
}

.navbar li:last-child {
  margin-right: 0; /* elimina el margen derecho del último elemento de la lista */
}

.navbar li a {
  color: white;
  text-decoration: none;
}
