body {
  background-image: url(../src/img/MetroExodusWATERMARK.png);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 0 100px 100px 100px;
}

.body-content {
  grid-column: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 50px 50px;
  box-shadow: 0 0 20px var(--color-tertiary);
}

.text-container p {
  width: 500px;
  text-align: center;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 15px;
}

.img-container {
  grid-column: 1;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.img-container img {
  width: 400px;
  height: 450px;
  filter: drop-shadow(0 0 20px #e60000a1);
}
.form-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

form {
  padding: 50px 50px;
  box-shadow: 0 0 20px var(--color-tertiary);
  border-radius: 20px;
  text-align: center;
  width: 600px;
  background-color: var(--color-primary);
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2 {
  color: var(--color-secondary);
  font-size: 35px;
  text-shadow: 0 0 20px var(--color-tertiary);
}

label {
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

input,
textarea {
  padding: 17px 25px;
  border-radius: 25px;
  background-color: #ffffff;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
  outline: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color-primary);
  font-weight: 200;
}

textarea {
  resize: none;
  overflow: auto;
}

input:focus,
textarea:focus {
  border: 2px solid var(--color-secondary);
}

.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.form-txt u {
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 200;
}

.form-txt a {
  color: var(--color-secondary);
  font-size: 14px;
  font-weight: 200;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  color: var(--color-tertiary);
  border: 0;
  border-radius: 25px;
  background-color: var(--color-secondary);
  box-shadow: 0 0 20px var(--color-quinary);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

.input-group > p {
  text-align: center;
  color: var(--color-tertiary);
  text-shadow: 0 0 5px var(--color-quinary);
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 15px;
}
